{% load staticfiles %}
<footer id="bottom">
	<div class="container">
	<div class="row">
		<section class="col-md-4">
			<h1 itemprop="name">Strike Iron Studio</h1>
			<div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
				<div>Email: <a class="right" itemprop="email" href="mailto:info@strikeironstudio.com">info@strikeironstudio.com</a></div>
				<div>Support: <a class="right" itemprop="email" href="mailto:support@strikeironstudio.com">support@strikeironstudio.com</a></div>
				<div>Sales: <a class="right" itemprop="email" href="mailto:sales@strikeironstudio.com">sales@strikeironstudio.com</a></div>
				<span>Phone: <a class="right" itemprop="telephone" href="tel:+18887776153">888-777-6153</a></span><br><br>
				<span>Address:</span>
				<span class="right">
					{% comment %}<span itemprop="streetAddress">6866 Derwent Cir</span><br>{% endcomment %}
					<span><span itemprop="addressLocality">Pensacola</span>, <span itemprop="addressRegion">FL</span> <span itemprop="postalCode">32506</span></span>
				</span>
				<br> 
			</div>
			<br>
			<hr>
			<div class="roomy">
			<div id="fb-root" class="fb-like">
			<script async type="text/javascript" src="http://connect.facebook.net/en_US/all.js#appId=1533414440279324&amp;xfbml=1"></script>
			<fb:like href="/" send="false" width="90" show_faces="false" action="like" font="" layout="button_count"></fb:like>
			</div>

			<a href="http://twitter.com/share" class="twitter-share-button" data-url="/" data-text="Check out this website. They design, develop, and host your site all to get you clients!" data-count="horizontal">Tweet</a>
			<script async type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

			<g:plusone class="g-plusone" size="medium" href="/"></g:plusone>
			<script type="text/javascript">
			  (function() {
			    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
			    po.src = 'https://apis.google.com/js/plusone.js';
			    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
			  })();
			</script>
			</div>
			<br><br>
			{% comment %}
			<?php echo do_shortcode('[RICH_REVIEWS_SNIPPET]'); ?>
			{% endcomment %}
		</section>
		<section class="col-md-4">
			<h1 itemprop="name">Quick Links</h1>
			<ul class="footer-quick">
				<li><a href="/about-us/">About Us</a></li>
				<li><a href="/contact-us-today/">Contact Us Today</a></li>
				<li><a href="/leave-review/">Leave a Review</a></li>
				<li><a href="/services-agreement-in-plain-english/">Services Agreement</a></li>
			</ul>
		</section>
		<section class="col-md-4">
			<h1 itemprop="name">Social Links</h1>
			<ul class="footer-socials">
				<li><a class="google" href="https://www.google.com/+StrikeIronStudioLLC/posts" rel="publisher"><img class="clean valign-mid" alt="Come on over to our Google+!" src="{% static 'img/social/google.png' %}" height="40" width="40" border="0" />Google+</a></li>
				<li><a class="twitter" href="https://twitter.com/StrikeIronStdio/"><img class="clean valign-mid" alt="Check out our Twitter!" src="{% static 'img/social/twitter.png' %}" height="40" width="40" border="0" />Twitter</a></li>
				<li><a class="facebook" href="https://www.facebook.com/StrikeIronStudio"><img class="clean valign-mid" alt="Follow us on Facebook!" src="{% static 'img/social/facebook.png' %}" height="40" width="40" border="0" />Facebook</a></li>
				<li><a class="rss" href="/feed/"><img class="clean valign-mid" alt="Stay up to date with our RSS!" src="{% static 'img/social/rss.png' %}" height="40" width="40" border="0" />RSS</a>
				</li>
				<hr>
				<li><a class="bitbucket" href="https://bitbucket.org/strikeironstudio">Bitbucket</a></li>
			</ul>
			<div class="scroll-top"><a href="#scroll-top" title="Scroll to Top">&uarr;</a></div>
		</section>
		</div>
	</div>
	</div>
</footer>