{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
	{% compress css inline %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        {% endcompress %}
    </head>
    {{ analytics_code }}
    <body>
        <h1>Hello, Django!</h1>
    </body>
</html>
