{% load staticfiles %}
<span id="logo">
	<a href="/" title="Strike Iron Studio" rel="home">
		<h1 class="hidden">Strike Iron Studio</h1>
		<img itemprop="image" src="{% static 'img/cropped-logo3.png' %}" alt="">
	</a>
</span>