/* BG */
#top {
	background: url(/static/img/menu-bg.png);
	height: 60px;
	min-width: 100%;
}

#content {
	background: url(/static/img/showcase-bg.png);
	height: 500px;
	min-width: 100%;
}

#bottom {
	background: url(/static/img/bg1.png);
	min-width: 100%;
}

.navbar-inverse {
	background-image: url(/static/img/bg5.png);
}

.navbar-brand {
	background: url(/static/img/logo_tinted.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 110px;
}

/* Fix social shit */
#___plusone_0 {
	float: left !important;
	clear: right !important;
}

div.fb-like
{
    float: left;
    padding-right: 10px;
}
#twitter-widget-0 {
	float: left;
	position: relative;
	right: -10px;
	width: 95px !important;
}

.hidden {
	display: none;
}

.right {
	float: right !important;
}